@import url(//db.onlinewebfonts.com/c/487390d5558cff7a17ce35d7d92a0540?family=Pretendo);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gameboy-width: 360px;
  --gameboy-height: 600px;
  --color-gray: rgba(145, 141, 162);
  --font-family-nintendo: "Pretendo", sans-serif;
}

body {
  background-color: rgb(239, 174, 166);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.consola {
  display: flex;
  width: var(--gameboy-width);
  height: var(--gameboy-height);
  background-color: rgb(219, 218, 225);
  border-radius: 15px 15px 80px 15px;
  box-shadow: 5px 5px 20px rgb(100, 98, 98);
}

/* body console */

.gameboy {
  display: flex;
  flex-direction: column;
  width: var(--gameboy-width);
}

.pantalla {
  background-color: var(--color-gray);
  width: 330px;
  height: 250px;
  border-radius: 10px 10px 50px 10px;
  align-self: center;
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 5px 5px 10px grey;
}

.pantalla-dentro {
  background-color: rgba(164, 180, 52);
  width: 230px;
  height: 200px;
  box-shadow: 1px 1px 10px inset;
}

.pantalla-dentro img {
  width: 100%;
}

.battery {
  background-color: red;
  width: 10px;
  height: 10px;
  margin: 0 18rem 4.5rem 0;
  border-radius: 50%;
  position: absolute;
  box-shadow: 1px 1px 10px red;
}

.text-battery {
  font-size: 8px;
  color: white;
  margin: 0 17.5rem 3rem 0;
  position: absolute;
}

/* logo gameboy */
.logo {
  margin: 5px 20px;
  display: inline-block;
}

.logo span {
  font-family: "Pretendo", sans-serif;
  font-size: 18px;
}

.logo span:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

/* controles movimiento*/
.controles {
  display: flex;
  justify-content: space-between;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  right: 35px;
  width: 100px;
  margin: 2rem 0 0 4rem;
  border-radius: 50px;
  background-color: var(--color-gray);
  box-shadow: 5px 5px 10px rgb(108, 107, 107) inset;
}

.movimiento {
  background: black;
  height: 100px;
  position: absolute;
  width: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(82, 82, 82);
}

.movimiento:after {
  background: black;
  content: "";
  height: 30px;
  left: -35px;
  position: absolute;
  top: 35px;
  width: 100px;
  border-radius: 10px;
}

/* controles AB */

.ab {
  display: flex;
  position: relative;
  margin: 0 9rem 0 3rem;
  transform: rotate(-30deg);
  justify-content: space-between;
}

.boton-b {
  background: linear-gradient(#bd0055, #a10254);
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 100px 0 0 0;
  border-radius: 50%;
  font-family: var(--font-family-nintendo);
  font-size: 12px;
  box-shadow: 2px 2px 10px #666666;
}

.boton-a {
  background: linear-gradient(#bd0055, #a10254);
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 100px 0 0 60px;
  border-radius: 50%;
  font-family: var(--font-family-nintendo);
  font-size: 12px;
  box-shadow: 2px 2px 10px #666666;
}

.ab span {
  position: absolute;
  margin: 40px 15px;
}

.botones-secundarios {
  display: flex;
  position: relative;
  transform: rotate(-30deg);
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: var(--font-family-nintendo);
}

.boton-start {
  background: gray;
  width: 50px;
  height: 15px;
  position: absolute;
  margin: 35px 0 0 150px;
  border-radius: 20%;
  box-shadow: 2px 2px 10px var(--color-gray);
}

.boton-select {
  background: gray;
  width: 50px;
  height: 15px;
  position: absolute;
  margin: 0 0 0 90px;
  border-radius: 20%;
  box-shadow: 2px 2px 10px var(--color-gray);
}

.botones-secundarios span {
  position: absolute;
  margin: 20px 5px;
  font-size: 11px;
}

.speaker {
  position: relative;
  left: 180px;
  top: 170px;
  transform: rotate(64deg);
}

.speaker li {
  margin-bottom: 10px;
  width: 50px;
  height: 8px;
  border-radius: 10px;
  background-color: #666666;
  list-style: none;
  box-shadow: 2px 2px;
}
